.promo-btn {
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  padding: 30px 48px;
  background: $color-assent;
  border-radius: 5px;
  text-decoration:none;


}

.portfolio-btn {
  background: $color-assent;
  display: inline-block;
  padding: 24px 68px;
  font-size: 42px;
  line-height: 57px;
  border: none;
  border-radius: 6px;
  font-family: $fonts;
  font-weight: 400;
  text-decoration: none;
  margin-top: 120px;


  @media (max-width: $tablet-max) {
    margin-top: 80px;
    padding: 24px 68px;
    font-size: 42px;
    line-height: 57px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 60px;
    padding: 20px 35px;
    font-size: 24px;
    line-height: 33px;
  }

}


.form-order-btn {
  background-color: $color-assent;
  display: block;
  padding: 35px 0;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 6px;
  width: 412px;
  top: 130px;
  cursor: pointer;

}
