.promo-btn {
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  padding: 30px 48px;
  background: $color-assent;
  color: #fff;
  border-radius: 5px;
  text-decoration:none;

  @media (max-width: $tablet-max) {
    padding: 30px 48px;
    font-size: 42px;
    line-height: 57px;

  }

  @media (max-width: $mobile-max) {
    padding: 20px 14px;
    font-size: 24px;
    line-height: 33px;
  }
}

.portfolio-btn {
  display: inline-block;
  font-weight: normal;
  font-size: 42px;
  line-height: 57px;
  padding: 30px 48px;
  background: $color-assent;
  border-radius: 5px;
  text-decoration:none;
  margin-top: 120px;
  color: #fff;
  cursor: pointer;

  @media (max-width: $tablet-max) {
    padding: 30px 48px;
    font-size: 42px;
    line-height: 57px;

  }

  @media (max-width: $mobile-max) {
    padding: 20px 14px;
    font-size: 24px;
    line-height: 33px;
  }


}


.form-order-btn {
  background-color: $color-assent;
  width: 100%;
  padding: 35px 0;
  color: #fff;
  font-size: 28px;
  line-height: 34px;
  cursor: pointer;



}
