.footer {
    background-color: $color-dark;
    padding: 0;

  @media (max-width: $tablet-max) {
    padding: 0;
  }

  @media (max-width: $mobile-max) {
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
  }
}

.footer-inner {
  @include container;
  border: none;
}



.footer-wrap {
    display: flex;
    align-items: center;

  @media (max-width: $mobile-max) {
    display: block;
   }
}

.footer-copyright {
    display: flex;
    margin: 0;
    font-size: 42px;
    line-height: 57px;
    font-family: $font-open;
    font-style: normal;
    font-weight: 600;
    align-items: center;
    color: #FFFFFF;
    margin-right: auto;

  @media (max-width: $mobile-max) {
    display: block;
    display: flex;
    flex-direction: column;

  }
}

.footer-phone {
    margin-right: 60px;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;

  @media (max-width: $mobile-max) {
    display: block;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 15px;
  }
}

.footer-social {
    display: flex;
    align-items: center;

  @media (max-width: $mobile-max) {
    display: block;
    display: flex;
    flex-direction: column;

  }
}
