.form-order {
  display: flex;
  align-items: flex-end;
  margin-left: -10px;

}

.form-order-field {
  flex-basis: 33.33%;
  padding: 0px 10px;

}


.form-order-label {
  display: inline-block;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 27px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
}

.form-input {
  width: 100%;
  padding: 35px 30px;
  font-family: inherit;
  font-size: 28px;
  line-height: 34px;
  border-radius: 6px;
  color: $color-dark;
  font-weight: 400;
  border: none;
  background-color: #fff;
}


