.form-order {
  display: flex;
  align-items: flex-end;

}

.form-order-label {
  padding: 20px 0;

}

.form-input {
  width: 100%;
  padding: 35px 30px;
  font-size: 28px;
  line-height: 34px;
  border-radius: 6px;
  color: $color-dark;
  font-weight: 400;
  font-family: inherit;
  border: none;
}

.form-order-label {
  display: inline-block;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 27px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;

}
