.form-order {
  display: flex;
  align-items: flex-end;
  margin-left: -10px;
  margin-right: -10px;


  @media (max-width: $tablet-max) {
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-max) {
    display: block;
  }

}

.form-order-field {
  flex-basis: 33.33%;
  padding: 0 10px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;

  }
}

.form-order-field-btn {
  @media (max-width: $tablet-max) {
    flex-basis: 100%;
    margin-top: 40px;
  }

  @media (max-width: $mobile-max) {
    padding-bottom: 30px;
  }

}


.form-order-label {
  display: inline-block;
  padding-bottom: 8px;
  font-size: 20px;
  line-height: 27px;

}

.form-input {
  width: 100%;
  padding: 35px 30px;
  font-family: inherit;
  font-size: 28px;
  line-height: 34px;
  border-radius: 6px;
  color: $color-dark;
  font-weight: 400;
  border: none;
  background-color: #fff;
}


