.header {
  background-color: $color-dark;
  padding: 16px 0;
}

.headr-inner {
  @include container;
}


.header-wrap {
  display: flex;
  align-items: center;
}

.main-logo {
  margin-right: auto;
  font-family: $fonts;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
  text-decoration: none;

}
