.order-inner-fade {
  padding: 130px 0;
  color: $color-dark;
  background-color:rgba(51, 51, 51, .1);

}

.order-inner {
  @include container;
}


.order-title {
  font-family: $fonts;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.order-text {
  font-family: $fonts;
  font-weight: normal;
  width: 1276px;
  height: 76px;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
