.promo {
  text-align: center;
  background-image: url('../images/promo-fone.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}



.promo-fade {
  background-color: rgba(51, 51, 51, 0.4);
  padding-top: 290px;
  padding-bottom: 214px;

  @media (max-width: $tablet-max) {
    padding-top: 270px;
    padding-bottom: 190px;
  }

  @media (max-width: $mobile-max) {
    font-size: 180px;
    line-height: 100px;
  }
}


.promo-inner {
  @include container;
}


.promo-text {
  padding-bottom: 200px;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  margin: 0;
  color: $color-ligth;

  @media (max-width: $tablet-max) {
    padding-bottom: 180px;
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    padding-bottom: 110px;
    font-size: 32px;
    line-height: 44px;
  }
}


