.promo {
  text-align: center;
  background-image: url('../images/promo-fone.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: top;


}

.promo-lead-fade {
  background-color: rgba(51, 51, 51, 0.4);
}


.promo-inner {
  padding: 214px 0;
  @include container;
}


.promo-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  text-align: center;
  color: $color-ligth;


}


