.reviews {
  padding-top: 130px;
  padding-bottom: 130px;
}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include title;
}

.reviews-btn {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;


}

.reviews-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -$indent-gap / 2;
  margin-right: -$indent-gap / 2;
}

.reviews-item {
  flex-basis: 50%;
  margin-top: 70px;
  padding: 0 $indent-gap / 2;;
}
