.reviews {
  padding-top: 220px;
  padding-bottom: 130px;


  @media (min-width: $tablet-max) {
    padding-top: 210px;
    padding-bottom: 120px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 180px;
    padding-bottom: 90px;
  }
}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include title;
  margin-bottom: 80px;

  @media (min-width: $tablet-max) {
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 50px;
  }
}

.reviews-photo {
  width: 300px;
  height: 300px;
}
