.services {
  background-color: $color-ligth;
  padding-top: 220px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 130px;
  text-align: center;

  @media (max-width: $tablet-max) {
    padding: 110px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 80px 0;
  }
}

.services-inner {
  @include container;
}

.services-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: $color-dark;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }

}



.services-portfolio-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;

  }


.services-portfolio-img {
  width: 100%;
  position: relative;
  margin: 0;

}

.services-portfolio-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  color: $color-ligth;
  background: rgba(0, 0, 0, 0.4);

}

