.services {
  background-color: $color-ligth;
}

.services-inner {
  @include container;
}

.services-title {
  left: 33.23%;
  right: 33.23%;
  top: 0%;
  bottom: -3.57%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.services-portfolio-list {
  margin-bottom: 40px;

}

.services-portfolio-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
  }


.services-portfolio-img {
  width: 304px;
  height: 304px;
  left: 82px;
  top: 314px;
  padding: 20px 0;

}

.services-img {
  width: 100%;
  display: block;

}

.services-portfolio-text {
  padding: 20px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  text-align: center;
  color: #ffffff;


}

