.social-icons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 15px;
}

.last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link-instagram {
  background-image: url('../images/uil_instagram-alt.svg')

}

.social-link-fb {
  background-image: url('../images/entypo-social_facebook.svg');
}

.social-link-telegram {
  background-image: url('../images/cib_telegram.svg');
}

.social-text {
  font-size: 1px;
  opacity: 0;
}
